!!! 5
include head

header(class="mui-appbar mui--z1" style="background-color: rgb(58,119,52)")
    a(class="github-fork-ribbon" href="https://github.com/Jesssullivan/tmpui-merlinai" data-ribbon="Contribute @ GitHub" title="Contribute @ GitHub...")
    div(class="mui-container ")
      td(class="mui--text-title ")
        canvas(class="visualizer"  width="" height="60px")

    ul(class="mui-list--inline mui--text-center")
        li
            a(href="/home", style=) [tmpUI Home]
        li
            a(href="/crop_dl") [Record, Crop, Download]
        li
            a(href="/webgl") [Precision Test]
        li
            a(href="/leaflet") [Annotator]