include header

br
div(id="content-wrapper" class="mui--text-center")
    div(class="mui--appbar-height")
    br
    br
    h4 valuating Support for WebGL mediump
    br
    br
    div(id="glSupportHolder")
    br
    br
    script(src="./webgl_init_bundle.js")

include footer
